.joonilove {
    color: green;
    font-size: 250px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.joonilove:hover{
    color: blue;
    font-size: 300px;
}
div {
    background-color: black;
    border-radius: 50px;
    width: 1626px;
    transition: all 0.5s ease-in-out;
}
div:hover {
    width: 1951px;
    background-color: tomato;
}
h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: bisque;
}