:root {
    --main-color: blanchedalmond;
    --second-color: coral;
}

.hide {
    display: none;
}

.button-design {
    background-color: transparent;
    border: none;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.color {
    color: var(--main-color);
}

.white {
    color: white;
}

.size {
    height: 1080px;
    width: 1980px;
}

.todo-delete-button {
    margin: 0px 2px;
    background-color: var(--main-color);
    border-radius: 30%;
    width: 30px;
    outline: none;
    transition: all 0.15s ease-in;
}

.todo-delete-button:hover{
    border-radius: 0.8rem;
    background-color: var(--second-color);
}

.center {
    margin: 0 auto;
}

#greet {
    text-align: center;
    font-size: 80px;
    pointer-events: none;
    user-select: none;
}

.font-size {
    font-size: 70px;
}

img{
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

body {
    cursor: default;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: gray;
    text-align: center;
}

body {
    user-select: none;
    pointer-events: none;
}

form {
    user-select: all;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    text-align: center;
}

#weather {
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px;
    width: max-content;
}



#todo-input {
    user-select: all;
    ime-mode: disabled;
    text-rendering: optimizeLegibility;
    text-transform: none;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom: 3px solid var(--second-color);
    background-color: rgba(255, 235, 205, 1);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 10px;
    outline: none;
    height: 50px;
    width: 25.8vw;
    padding: 0px;
    font-size: 1.3vw;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--second-color);
    user-select: all;
    pointer-events: all;
    transition:all 0.2s ease-in-out;
}

#todo-input:hover{
    background-color: var(--second-color);
}

#todo-input:hover::placeholder {
    color: var(--main-color);
}

#todo-input:hover {
    color: var(--main-color);
}

#todo-form {
    right: 0px;
    padding: none;
}

#todo-input::placeholder {
    user-select: none;
    pointer-events: none;
    text-transform: capitalize;
    color:var(--second-color);
    text-align: center;
    font-size: 1.3vw;
    font-weight: 700;
}

#clock {
    color: rgba(255, 255, 255, 1);
}


#weather span {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: normal;
}

#quote {
    position: absolute;
    align-self: flex-end;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: fit-content;
}

#quote span {
    display: inline-block;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

#login-input {
    user-select: all;
    ime-mode: disabled;
    text-rendering: optimizeLegibility;
    text-transform: none;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom: 3px solid white;
    background: none;
    outline: none;
    height: 70px;
    width: 40vw;
    font-size: 36px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    user-select: all;
    pointer-events: all;
}

#login-input::placeholder {
    user-select: none;
    pointer-events: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 2.5vw;
}

#todo-list span {
    color: var(--main-color);
    font-size: 1.5vw;
    font-weight: 700;
}

#todo-list {
    list-style: none;
    pointer-events: all;
    overflow-y : auto;
}

#todo-list::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main-color);
}

#todo-list::-webkit-scrollbar-thumb{
    background-color: var(--second-color);
}

#todo-list::-webkit-scrollbar-track {
    background-color:var(--main-color);
}

#todo-list li {
    border-bottom: 3px solid var(--main-color);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 25.5vw;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 3px;
    display: flex;
    justify-content: end;
    transition: all 0.15s ease-in;
}


#todo-list-div {
    display: flex;
    position: absolute;
    bottom: 12vh;
    right: 2vw;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: center;
    transition: all;
    height: 70vh;
}

#todo-button-div {
    display: flex;
    position: absolute;
    bottom: 3vh;
    right: 2vw;
}

#todo-button {
    pointer-events: all;
    border-radius: 30%;
    border: 2px solid var(--main-color);
    background-color:var(--main-color);
    width: 40px;
    height: 40px;
    transition: all 150ms ease-in-out;
    outline: none;
}

#todo-button:hover {
    background: var(--second-color);
    border-color: var(--second-color);
}

#todo-all-delete-button {
    pointer-events: all;
    width: 25.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 1px;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
    outline: none;
}

#todo-all-delete-button:hover {
    background-color: var(--second-color);
    border: 2px solid var(--second-color);
}
