.hide {
    display: none;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.color {
    color: blanchedalmond;
}

.white {
    color: white;
}

.size {
    height: 1080px;
    width: 1980px;
}


#greet {
    text-align: center;
    font-size: 80px;
}

.font-size {
    font-size: 70px;
}

img {
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
    background-color: gray;
}

#main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50%;
    margin: 0 auto;
    z-index: 1;
}

#weather {
    position: absolute;
    left: 100%;
    margin-top: 10px;
    margin-left: -13%;
    padding: 10px;
    border-radius: 30px;
}

.center {
    margin: 0 auto;
}

#todo-input {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom: 3px solid white;
    background: none;
    outline: none;
    height: 70xpx;
    width: 530px;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#todo-input::placeholder {
    color: rgba(255, 255, 255, 100);    
}

#clock {
    color: rgba(255, 255, 255, 100);
}


#weather span {
    font-size: 20px;
    font-weight: normal;
}